In [ ]:
# 변수는 대 소문자가 구분된다.
text = "소문자"
TEXT = "대문자"
print(text, TEXT)

In [ ]:
# 변수에는 알파벳, _(언더바), 숫자 등으로 구성이 되는데 숫자가 앞에 오는것은 불가능하다.
name = "둘리"
print(name)
# 1name = "고길동"
# print(1name)

# 선언된 변수는 del을 이용해서 삭제가 가능하다
del name
# print(name)

In [ ]:
a = '둘리' # <class 'str'>
print(type(a))

num = 2023 # <class 'int'>
print(type(num))

pi = 3.14 # <class 'float'>
print(type(pi))

a = True # <class 'bool'>
print(a)
print(type(a))

In [ ]:
a = "공룡"
print(a)

In [ ]:
# 따옴표 앞에 f를 붙이고 {}(중괄호)안에 변수를 넣으면 문자열 포매팅이 가능하다.
# 따옴표 뒤에 .format()을 붙이고 ()안에 변수를 넣으면 문자열 포매팅이 가능하다.
print(f"둘리: {a}")
print("둘리: {}".format(a))

In [ ]:
name = "둘리"
age = "500살"
address = "서울시"
# 문자열 포매팅은 여러개도 가능하다.
print(f"{name}, {age}")
print("{}, {}".format(name, age))

# 문자열 포매팅을 할 때 {}의 개수보다 출력할 데이터가 적으면 에러가 발생된다.
# print(f"{name}, {}")
# print("{}, {}".format(name))

# 문자열 포매팅을 할 때 {}의 개수보다 출력할 데이터가 많으면 남은 데이터는 무시된다.
print("{}, {}".format(name, age, address))

In [ ]:
애국가 = "동해물과 백두산이 마르고 닳도록"
# print(애국가)
print(애국가[-1])
print(애국가[16])
print(애국가[0:5])
print(애국가[::-1])

print(애국가[::2])

In [ ]:
print(애국가[5:9])

In [ ]:
print("5" + "3")
print(5 + 3) # 덧셈
print(5 - 3) # 뺄셈
print(5 * 3) # 곱셈
print(5 / 3) # 나눗셈
print(5 % 3) # 나눈 뒤 나머지 출력
print(5 ** 3) # 거듭제곱
print(4 ** 0.5) # 제곱근

In [ ]:
age = 500
print(age)
print(age + 100)

In [ ]:
# input()함수를 이용하여 사용자에게 변수를 입력 받는것도 가능하다.
age = input("사용자의 나이를 입력해주세요: ")
print('사용자의 나이는 ', age, ' 입니다!')
print(type(age))

In [ ]:
hi = input("안녕하세요?: ")
print(hi)

In [ ]:
age = int(input("사용자의 나이를 입력해주세요: "))
print(type(age))

In [ ]:
# 국어, 영어, 수학 점수를 입력받고 평균을 계산해주는 코드를 작성해보세요. 예제
korean = int(input("국어 점수를 입력해주세요: "))
math = int(input("수학 점수를 입력해주세요: "))
english = int(input("영어 점수를 입력해주세요: "))
print(f"세 점수의 평균: {(korean+math+english)/3}")