## 리스트(list)
- 다양한 개별 데이터를 모아서 사용할 수 있는 자료형
- 대괄호[  ] 내부에 자료를 넣어서 선언한다.
- 리스트의 대괄호 내부에 넣는 것을 요소(element)라고 하며, 숫자, 문자열 등 다양한 조합으로 사용이 가능하다.
- 리스트(list)의 내용은 값을 변경할 수 있다.

In [ ]:
num_list = [1, 2, 3]
print(num_list)
print(type(num_list))

In [ ]:
str_list = ["이대호", "류현진", "박찬호"]
print(str_list)

In [ ]:
str_list = ["이대호", "류현진", "박찬호", True, False, 1, 2, 3]
print(str_list)

In [ ]:
sports = [['맨유', '맨시티', '레알마드리드'], ['ssg', 'lg', 'nc']]
print(sports)

In [ ]:
# 리스트도 문자열과 마찬가지로 인덱싱과 슬라이싱이 가능하다.
# 리스트를 슬라이싱 할 시 리스트형태로 나오게 된다.
baseball = ["이대호", "류현진", "박찬호", "유희관", "이승엽"]
print(baseball)
print(baseball[0])
print(baseball[0:3])
print(baseball[::-1])
print(baseball[0:])

In [ ]:
# 리스트 안에 들어간 리스트에서도 데이터 인덱싱과 슬라이싱이 가능하다
a = [1, 2, 3, ['a', 'b', ['이대호', '이승엽']]]
print(a)
print(a[3])
print(a[3][2])
print(a[3][2][0])

In [ ]:
# +연산자는 두 개의 리스트를 연결한다.
print([1, 2, 3] + [4, 5, 6, 7])
# *연산자는 리스트를 지정된 횟수만큼 반복한다.
print([1, 2, 3] * 3)

In [ ]:
print([1, 2, 3] + [1, 2, 3])

In [ ]:
a = [1,2,3]; b= [2,3,4]

In [ ]:
# 리스트 안에 들어간 데이터를 인덱싱을 통해 변경이 가능하다.
baseball = ['이대호', '이승엽', '류현진', '박찬호']
baseball[2] = '유희관'
print(baseball)

In [ ]:
# del을 통해서 리스트 안에 들어가 있는 데이터를 제거 할 수 있다.
baseball = ['이대호', '이승엽', '류현진', '박찬호']
del baseball[0]
print(baseball)

In [ ]:
baseball = ['이대호', '이승엽', '류현진', '박찬호']
del baseball[2:]
print(baseball)

In [ ]:
# append() 를 사용하면 리스트에 요소를 추가할 수 있다.
baseball = ['이대호', '이승엽', '류현진', '박찬호']
baseball.append('추신수')
print(baseball)

In [ ]:
# sort() 함수를 이용해서 리스트의 요소를 정렬해 줄 수 있다.
# 숫자, 영어, 한글등에 순서대로 정렬이 가능하다.
eng = ['b', 'a', 'd', 'f', 'z']
eng.sort()
print(eng)
num = [1, 5, 4, 2, 3]
num.sort()
print(num)
name = ['가갑순', '홍길동', '이대호', '류현진']
name.sort()
print(name)

# sort는 리스트 안에 같은 데이터 타입이 있을 때만 정렬이 가능하다.
number = ['3', 2, '5', 1, 4]
# number.sort()

In [ ]:
# reverse=True 옵션을 지정하면 내림차순으로 정렬이 가능하다.
eng = ['b', 'a', 'd', 'f', 'z']
eng.sort(reverse=True)
print(eng)
num = [1, 5, 4, 2, 3]
num.sort(reverse=True)
print(num)
name = ['가갑순', '홍길동', '이대호', '류현진']
name.sort(reverse=True)
print(name)

In [ ]:
# reverse() 를 이용하여 리스트를 정렬하지 않은 상태로 거꾸로 뒤집는다.
baseball = ['이대호', '이승엽', '류현진', '박찬호']
baseball.reverse()
print(baseball)

In [ ]:
baseball = ['이대호', '이승엽', '류현진', '박찬호']
baseball.index('류현진')

In [ ]:
# index() 를 이용하여 인덱스값(위치)을 리턴한다.
number = [1, 2, 3, 4, 5]
number.index(3)

In [ ]:
# insert(a, b)를 이용하여 리스트의 a번째 위치에 b를 넣을 수 있다.
number = [1, 2, 3, 5]
number.insert(3, 4)
number

In [ ]:
# remove(a)를 이용하여 리스트에서 처음으로 나오는 a값을 삭제할 수 있다.
number = [1, 2, 2, 3, 4, 5]
number.remove(2)
print(number)

In [ ]:
str_list = ["최정", "노시환", "박동원", "최주환", "양석환"]
str_list.remove("박동원")
print(str_list)

In [ ]:
# pop()은 리스트의 맨 마지막 요소를 리턴시키고 요소는 리스트에서 삭제시킨다.
number = [1, 2, 3, 4, 5]
number.pop()

In [ ]:
print(number)

In [ ]:
# count()를 활용하여 리스트 안의 요소의 개수를 확인할 수 있다.
number = [1, 1, 2, 3, 4, 1, 5]
number.count(1)

In [ ]:
a = list()
print(a)